@model AppTuyenSinh.Models.ThiSinh

@{
    ViewBag.Title = "Nộp hồ sơ Online";
    Layout = "~/Views/Shared/_Layoutts.cshtml";
}

<style>
    .form-group {
        margin-top: 10px !important;
    }

    input, select, textarea {
        border-radius: 0 !important;
        max-width: 100%;
    }

    .label_change {
        display: block;
        font-size: 17px;
        color: #ff6a00;
        line-height: 1.5;
        /*   padding: 5px 0px;
        color: #ff6a00;
        font-weight: bold;*/
    }

    .h3_change {
        font-size: 20px;
        color: #ff6a00;
        line-height: 1.5;
    }

    .create-hover-button {
        padding: 8px 18px;
        border-radius: 0 !important;
        background-color: #ff6a00;
        border: none;
        color: #fff;
        font-size: 16px;
    }

        .create-hover-button:hover {
            background-color: #808080;
            color: #fff;
        }
</style>
<main>

    <div class="row" style="margin-top:20px">
        <div class="col-xl-4" style=" margin-bottom: 10px;">
            @using (Html.BeginForm("Create", "ThiSinhs", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <h3 class="h3_change">Mời bạn điền các thông tin sau</h3>
                <hr />
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        @Html.Label("Chọn ngành (*)", null, htmlAttributes: new { @class = "control-label label_change" })
                        <div class="col-md-12">
                            @Html.DropDownList("Nganh_ID", null, htmlAttributes: new { @class = "form-select" })
                            @Html.ValidationMessageFor(model => model.Nganh_ID, "", new { @class = "text-primary" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Điện thoại (*)", htmlAttributes: new { @class = "control-label label_change" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.ThiSinh_DienThoai, new
                            { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập số điện thoại", @title = "Thí sinh bắt buộc nhập dữ liệu này" } })
                            @Html.ValidationMessageFor(model => model.ThiSinh_DienThoai, "", new { @class = "text-primary" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Họ và tên (*)", htmlAttributes: new { @class = "control-label label_change" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.ThiSinh_HoTen, new
                            { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập họ và tên", @title = "Thí sinh bắt buộc nhập dữ liệu này" } })
                            @Html.ValidationMessageFor(model => model.ThiSinh_HoTen, "", new { @class = "text-primary" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="formFileMultiple" class="form-label label_change">Chọn tệp học bạ (*)</label>
                        <div class="col-md-12">
                            <input class="form-control" id="files" multiple="multiple" name="files" type="file" data-val="true" data-val-required="Vui lòng chọn file học bạ" 
                                   accept="application/pdf,.png, .jpeg, .jpg" />
                            <span class="field-validation-valid text-primary" data-valmsg-for="files" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Căn cước công dân", htmlAttributes: new { @class = "control-label label_change" })
                        <div class="col-md-12">
                            <input class="form-control" id="fileCCCD" name="fileCCCD" type="file" data-val="true"  accept="application/pdf,.png, .jpeg, .jpg"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="formFile" class="form-label label_change">Chọn bằng tốt nghiệp (nếu có)</label>
                        <div class="col-md-12">
                            <input class="form-control" id="fileTN" name="fileTN" type="file" data-val="true"  accept="application/pdf,.png, .jpeg, .jpg"/>
                        </div>
                    </div>
                    <div class="form-group" style="margin-top: 5px; margin-bottom: 5px;">
                        <div class="col-md-offset-2 col-md-12">
                            <input type="submit" value="Nộp hồ sơ" class="btn create-hover-button" title="Click để nộp hồ sơ online khi đã điền đủ thông tin" />                         
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                           <label style="color:blue; font-style:italic; text-align:justify">Lưu ý: ảnh học bạ cần chụp rõ nét, đủ các trang của 2 kỳ lớp 11 và kỳ 1 lớp 12</label>
                        </div>
                    </div>
                </div>
            }
        </div>

        <div class="col-xl-8" id="GioiThieuKhoa" style="display:block;">
            <h3 class="h3_change">Giới thiệu về các ngành Khoa CNTT&TT</h3>
            <hr />
            <div class="row" style="padding-bottom: 20px !important;">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="~/Content/img/cntt.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="~/Content/img/sptin.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="~/Content/img/ttdpt.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="~/Content/img/sdh.jpg" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</main>

<script>

    $(document).ready(function () {
        if ('@TempData["Result"]' === "THANHCONG") {
            toastr.success('Bạn đã nộp hồ sơ xét tuyển thành công!'+'\n'+'Bạn vui lòng gửi hồ sơ gốc về địa chỉ về địa chỉ: Cô Trang - Phòng 209 Nhà A3, Trường Đại học Hồng Đức \n Địa chỉ: 565 Quang Trung, phường Đông Vệ, thành phố Thanh Hoá', 'Thông báo');
        }
    });
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}