<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/img/iconFitc.ico" rel="shortcut icon" />
    <title>@ViewBag.Title - FICT-HDU</title>
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/toastr.js"></script>
    <script src="https://use.fontawesome.com/2882817244.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @*<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">*@
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light">
        <div class="container">
            <div class="navbar-brand">
                <img src="~/Content/img/icon.png" width="25" height="25" style="display: inline-block;" />
                <h4 style="font-size: 20px; line-height: 1.5;  display: inline-block; color: #ff6a00; font-weight: bold;">NỘP HỌC BẠ XÉT TUYỂN ĐẠI HỌC</h4>
            </div>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()

        <style>
            .lb_change {
                font-size: 17px;
                color: #ff6a00;
                line-height: 1.5;
                font-weight: normal !important;
                /*   padding: 5px 0px;
            color: #ff6a00;
            font-weight: bold;*/
            }

            .footer .info h3 {
                font-size: 20px;
                color: #ff6a00;
                line-height: 1.5;
            }

            .footer .info ul {
                list-style-type: none;
                padding: 0;
            }

                .footer .info ul li {
                    padding: 2px 0;
                }

                    .footer .info ul li .fa {
                        color: #cc9933;
                    }
        </style>
        <footer class="footer">
            <div class="container">
                <div class="row" style="margin-top:20px">
                    <div class="col-xl-4">
                        <hr />
                        <div class="info">

                            <h3>LIÊN KẾT TUYỂN SINH</h3>
                            <ul>
                                <li>
                                    <span class="fa fa-angle-right" aria-hidden="true"></span>
                                    <a href="http://tuyensinhcntt.hdu.edu.vn/" title="" style="text-decoration: none;">Thông tin tuyển sinh Khoa CNTT&TT</a>
                                </li>
                                
                                <li>
                                    <span class="fa fa-angle-right" aria-hidden="true"></span>
                                    <a href="http://bit.ly/fict-hdu" title="" style="text-decoration: none;">Video giới thiệu khoa CNTT&TT</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-xl-8">
                        <hr />
                        <div class="info">
                            <h3>KHOA CÔNG NGHỆ THÔNG TIN VÀ TRUYỀN THÔNG - TRƯỜNG ĐẠI HỌC HỒNG ĐỨC</h3>
                            <p style="text-align: justify;">
                                <span class="fa fa-angle-right" aria-hidden="true"></span>
                                <span style="color:blue"> Điện thoại tư vấn: 0977595552 (Cô Hiền)</span><br />
                                <span class="fa fa-angle-right" aria-hidden="true"></span>
                                <b class="lb_change">Địa chỉ nộp hồ sơ bản cứng: Cô Nguyễn Thị Trang, Phòng 209 - Nhà A3, Trường Đại học Hồng Đức - 565 Quang Trung, phường Đông Vệ, TP Thanh Hoá. ĐT: 0915.458.111 (Có thể gửi hồ sơ qua đường bưu điện)</b>
                            </p>
                        </div>
                    </div>
                </div>


            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
