<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/img/iconFitc.ico" rel="shortcut icon" />
    <link rel="stylesheet" href="~/Content/PagedList.css" />
    <title>@ViewBag.Title - Quản trị hệ thống</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <style type="text/css">
    </style>

</head>
<body>
    @*<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-light">*@
    <nav class="navbar navbar-expand-xl navbar-toggleable-xl navbar-dark bg-primary">
        <div class="container-fluid">
            @Html.ActionLink("FICT-HDU", "Index", "Default", new { area = "Admin" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-xl-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Quản lý Thí sinh", "Index", "ThiSinh", new { area = "Admin" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("QL Nhập điểm", "tsIndex", "HocBas", new { area = "Admin" }, new { @class = "nav-link" })</li>
                    @* <li>@Html.ActionLink("QL Kết quả", "Index", "KetQuas", new { area = "Admin" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("QL Ngành", "Index", "KetQuas", new { area = "Admin" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("QL Đơn vị", "Index", "Nganhs", new { area = "Admin" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("QL Người dùng", "Index", "NguoiDungs", new { area = "Admin" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("QL Cấp quyền", "Index", "PhanQuyens", new { area = "Admin" }, new { @class = "nav-link" })</li>*@
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; By 208 Team - @DateTime.Now.Year</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
