@model AppTuyenSinh.Models.HocBa

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>HocBa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ThiSinh.ThiSinh_HoTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThiSinh.ThiSinh_HoTen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HocBa_HocKi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HocBa_HocKi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HocBa_Lop)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HocBa_Lop)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HocBa_DiemToan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HocBa_DiemToan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HocBa_DiemLi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HocBa_DiemLi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HocBa_DiemHoa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HocBa_DiemHoa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HocBa_DiemVan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HocBa_DiemVan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HocBa_DiemAnh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HocBa_DiemAnh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HocBa_DiemGDCD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HocBa_DiemGDCD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HocBa_DiemSinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HocBa_DiemSinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HocBa_DiemSu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HocBa_DiemSu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HocBa_DiemDia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HocBa_DiemDia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HocBa_HocLuc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HocBa_HocLuc)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
